@charset "UTF-8";


@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

   * {
    font-family: 'NanumBarunGothic', sans-serif;
   }





/*Start Header*/
#header {
    border-bottom:1px solid #ddd;
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: white;
    Z-index:1000;
    }
    
    #header .headerContent{
    display:flex;
    align-items: center;
    width: 1140px;
    margin: auto;
    }
    
    #header .headerContent > div.logo h1{
    margin: 0;
    }
    
    #header .headerContent > div.logo a{
    margin:0;
    font-size: 30px;
    font-weight: bold;
    color:yellowgreen;
    text-decoration: none;
    }
    
    #header .headerContent > div.menu{
    flex:1;
    min-width: 780px;
    }
    
    #header .headerContent > div.menu ul {
    display: flex;
    justify-content:center;
    list-style: none;
    margin: 0;
    margin-right: 170px;
    padding: 0;
    }
    
    #header .headerContent > div.menu ul li{
    margin-left: 50px;
    margin-right: 30px;
    }
    
    #header .headerContent > div.menu ul li a{
    display: block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-decoration: none;
    }

    div.header-r{
        min-width: 90px;
    }
    
    div.header-r > a{
        text-decoration: none;
        color: black;
    }
    
    div.header-r > span.header-bar{
        display: inline-block;
        width: 1px;
        height: 16px;
        margin: 1px 1px 3px 1px;
        background-color: #d8d8d8;
        vertical-align: middle;
        content: '';
    }
    
    div.header-r > a.search_btn > img{
        width: 23px;
        height: 23px;
        vertical-align: top;
        margin-top: 1px;
    }

	div#header div.menu a:hover {
	    color: #00ab33 !important;
	}

/*Header End*/





/*Start subHeader*/

div.headerSub{
    height: 50px;
    text-align: center;
    padding-left: 200px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    line-height: 3;
}

a.headerSubSpan{
    text-decoration: none;
    color: #202020;
    padding: 0 22px 0 22px;
}

a.headerSubSpan:hover{
    color:#00ab33;
    font-weight: 700;
    cursor: pointer;
}

/*End subHeader*/






/*Content Start*/

div.content{
    width: 1140px;
    margin: auto;
}

div.contentTitle{
    margin: 45px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

div.contentTitleMain > div > a{
    font-size: 30px;
    color: #00ab33;
    font-weight: 600;
}

div.contentTitleSub{
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -1px;
}

div.contentTitleSub > em{
    font-style: normal;
}


ul.contentMainContPaymentAmt{
    padding: 15px 0 0;
    font-size: 14px;
    list-style: none;
}

li.contentMainContPaymentAmtDetail{
    padding: 0 0 18px 140px;
    position: relative;
}

strong.contentMainContPaymentAmtTitle{
    top: 15px;
    position: absolute;
    left: 20px;
    font-size: 14px;
    color: #000;
}


div.contentFormQ{
    border:1px solid #ddd;
    padding-top: 70px;
}

table#contentFormQTable{
    margin: auto;
}

form#consultForm > table > tbody > tr > th{
    text-align: left;
    line-height: 50px;
    vertical-align: top;
    width: 100px;
    color: #4c4c4c;
}

form#consultForm > table > tbody > tr > td{
    padding-bottom: 40px;
}

/*
select#consultFormCategory{
    border: 1px solid #DCDCDC;
    height: 48px;
    width: 700px;
    padding-left: 20px;
    color: #4c4c4c;
    background: url(/assets/web/images/icons/common/ico_barrow_g.svg) no-repeat 95% 50%;
}
*/

/*
div#consultFormSelectBox2{
    border: 1px solid #DCDCDC;
    height: 48px;
    width: 700px;
    color: #4c4c4c;
    vertical-align: middle;
}
*/

div.consultFormEmail{
    border: 1px solid #DCDCDC;
    overflow: hidden;
    padding: 5px 0 5px 20px;
    display: flex;
    height: 48px;
    width: 700px;
    font-size: 16px;
}

div.consultFormEmail > input[type='text']{
    border: none;
    width: 200px;
    height: 35px;
}

select#consultFormCategoryEmail{
    border: none;
    border-left: 1px solid #DCDCDC;
    padding-left: 20px;
    width: 290px;
    height: 35px;
    float: right;
    color: #4c4c4c;
    background: url(/assets/web/images/icons/common/ico_barrow_g.svg) no-repeat 95% 50%;
}

select#consultFormCategoryEmail > option{
    font-size: 16px;
    color: #4c4c4c;
}




div.consultFormPhone{
    border: 1px solid #DCDCDC;
    overflow: hidden;
    padding: 5px 0 5px 20px;
    display: flex;
    height: 48px;
    width: 700px;
    float: right;
    color: #4c4c4c;
    background: url(/assets/web/images/icons/common/ico_barrow_g.svg) no-repeat 95% 50%;
}

div.consultFormPhone > input[type='text']{
    width: 200px;
    height: 35px;
    border: none;
}


div.consultFormContent{
    height: 280px;
}

textarea#formQContent{
    resize: none;
    width: 100%;
    height: 280px;
    padding: 18px 20px;
    outline: 1px solid #DCDCDC;
    border: 1px solid #DCDCDC;
}

div.consultFormCheckBox{
    padding-top: 13px;
}

div.consultFormCheckBoxMain{
    display: inline-block;
}


div.consultFormCheckBoxMain > input#consultFormCheckBoxYn{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border: #4c4c4c;
}
/*
div.consultFormCheckBoxMain > input#consultFormCheckBoxYn:before{
    border: 1px solid yellowgreen;
    background:  #8bc34a;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
}

div.consultFormCheckBoxMain > input#consultFormCheckBoxYn:checked ~ label:before {
    border: 1px solid #8bc34a;
    background: #8bc34a
}

*/

input#consultFormCheckBoxYn{
    accent-color: #339900;
}








div.consultFormCheckBox > div.consultFormCheckBoxMain > label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 43px;
    line-height: 27px;
}


div.consultFormCheckBox > div.consultFormCheckBoxMain > label::before {
    border: 1px solid #969696;
    background: #fff;
}

div.consultFormCheckBox > a.consultFormCheckBoxPrivacy{
    margin-left: 50px;
    font-size: 14px;
    border-bottom: 1px solid #666666;
    color: #666666;
    padding-bottom: 2px;
    text-decoration: none;
}

div.consultFormBtnWrap{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

div.consultFormBtnWrap > a.consultFormBtn{
    line-height: 80px;
    font-size: 22px;
    font-weight: 600;
    margin: 0 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 40px;
}


div.consultFormBtnWrap > a#consultFormBtnCancel{
    border: 1px solid #666666;
    border-radius: 15px;

    background: none;
    color: #383D41;
}

div.consultFormBtnWrap > a#consultFormBtnSubmit{
    border-radius: 15px;

    background: #00ab33;
    color: #fff;
}









/*popup*/
/* The Modal (background) */
div.consultFormCheckBoxPrivacyModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
div.consultFormCheckBoxPrivacyContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */                          
}

div#consultFormCheckBoxPrivacyContentExit{
    cursor: pointer;
    background-color: #00ab33;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    color: #fff;    
}

/*Content End*/





/*Footer Start*/

* {
    padding: 0;
    margin: 0;
}

.footer * {
    box-sizing: border-box;
}

.footer {
    position: relative;
    background: #f6f6f6;
    padding-top: 50px;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    color: #202020;
}

.footer_menu {
    clear: both;
    display: flex;
    padding: 10px 0;
    border: 1px solid #bcbcbc;
    background-color:#f6f6f6;
}
/*
.footer_menu_left {
flex: 1;
float: left;
}
*/
.footer_menu_right {
    width: 1140px;
    margin: auto;
/*
flex: 9;
float: right;
*/
}

.footer_menu_right ul {
list-style-type: none;
color: #828282;
margin: 0;
padding: 0;
min-width: 1140px;
}

.footer_menu_right ul li {
    display: inline-block;
    margin: 15px 20px 15px 0;
    vertical-align: middle;
}

.footer_menu_right ul li a {
text-decoration: none;
color: #828282;
}

.item {
display: inline-block;
}

.footer_info_wrap {
    box-sizing: border-box;
    color: rgb(130, 130, 130);
    display: block;
    font-family: NanumBarunGothic,"나눔바른고딕","Nanum Barun Gothic",Sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 50px;
    padding-top: 22px;
    position: relative;
    width: 1140px;
    margin: auto;
}

.footer_info_inner {
    display: flex;
    width: 1140px;
    margin: auto;
}
/*
.footer_info_left {
    flex: 1;
    float: left;
}
.footer_info_right {
    flex: 9;
    float: right;
}
*/

.footer_info_right ul {
    list-style-type: none;
    color: #828282;
    margin: auto;
    padding: 0;
}



/*Footer End*/
