
@charset "utf-8";

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

#header {
    border-bottom:1px solid #ddd;
    position: fixed;
    width: 100%;
    background-color: white;
    Z-index:1000; 
}

#header .container{
    display:flex;
    align-items: center;
    min-width: 800px;
}

#header .container > div.logo h1{
   margin: 0;
}

#header .container > div.logo a{
    margin:0;
    font-size: 30px;
    font-weight: bold;
    color:yellowgreen;
    text-decoration: none;  
} 


#header .container > div.menu{
    flex:1;
}


#header .container > div.menu ul {
   display: flex;
   justify-content:center;
   list-style: none;
   margin: 0;
   padding: 0;
}

#header .container > div.menu ul li{
   margin-left: 50px;
   margin-right: 30px;
}

#header .container > div.menu ul li a{
    display: block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-decoration: none;
    

}

/* 메뉴바2 */

#content .container > div.menu2{
    padding-top: 70px;
    flex: 1;
    min-width: 800px;
}

#content .container > div.menu2 ul {
    display: flex;
    justify-content:center;
    list-style:none;
    margin: 0;
    padding: 0;
}

#content .container > div.menu2 ul li{
    margin: 10px;
    margin-left: 50px;
}

#content .container > div.menu2 ul li a{
    display: block;
    font-size: 15px;
    color:gray;   
}

#content .container > div.menu2 ul li a:hover {
    color: yellowgreen;
    text-decoration: none;
    text-align: center;
}
/* #content .container > div.menu2 ul li a :hover{
   color: yellowgreen; 안되는 이유 a가 떨어져있어서,,
} */


/* 카테고리 */
#content2  {
    width:auto;
    height: 140px;
    background-color: #10c838;
}

#content2 .container > div.category {
    flex: 1;
    min-width: 800px;
}
 

#content2 .container > div.category ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#content2 .container > div.category ul li {
    text-align: center;
    margin: 20px;
    color: #000;
    border: 1px solid white; 
    border-radius: 50%; 
    padding: 10px;
    width: 110px;
    height: 110px;;
    font-family: 'NanumSquareNeo-Variable';
}


#content2 .container .category ul li a{
   color: whitesmoke;
   text-decoration: none;
}

/* 오늘의 모금함  */

#apply {
    color: black;
    width: 800px;
    margin:auto;
    padding:30px;
}

#apply h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #00ab33;
    margin-bottom: 10px;
}

#apply .container {
    display: flex;
    justify-content: center;
    border: 1px solid #65db7f;
    border-radius: 26px;
    min-width: 800px;
}

#apply .container .left_cont {
    width: 40%;
    padding-top: 20px;
}

#apply .container .right_cont {
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#apply .container .smallbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #65db7f;
}

#apply .container .right_cont > div {
    display: flex;
}

#apply .container .right_cont .left_txt {
    width: 40%;
    text-align: right; /* Add text-align right */
    margin-right: 20px; /* Add margin-right */
}

#apply .container .right_cont .right_txt {
    width: 100%;
}

#apply .container .right_cont p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#apply .container .right_cont p .count {
    font-size: 22px;
    font-weight: 700;
    color: #00ab33;
}

#apply .container .right_cont p .num {
    font-size: 22px;
    font-weight: 700;
    color: #00ab33;
}

#apply .container .right_cont p .unit {
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}

#apply .container .right_cont .donation_line {
    border-left: 1px solid #65db7f;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 30px;
}


.select-container {
    overflow: hidden;
    clear: both;
    min-width: 700px;
    padding-right:750px;
    padding-bottom:20px;
    width:1200px;
    
  }

  #selectbox {
    position: static;
    float: right;
    margin-top: 30px;
    background-color: white;
    width: fit-content;
    height: 40px;
    color: black;
    

}

/* 진행중 모금함 */


.card-container{
	
	padding-left:600px;
	
}
  
.card-wrap{
	width:1200px;
	margin: 0 auto;
	padding-left:80px;
}
  

  .card {
  
    float: left;
    margin: 0 0 10px 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width:30%;
   

  }

  .card-body{
    padding:10px;
    height: auto;
  }
  
  .card h3 {
    font-size: 20px;
    margin: 0 0 6px 0;
    padding: 0;
  }

  .card h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .card img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
  }

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.progress {
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #4CAF50;
}

.percent {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0;
}

.price {
  font-size: 16px;
  color: #666;
  margin: 0;
  padding: 0;
}
  



/* 더보기 버튼 */
.more_btn {
    min-width: 800px;
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%;
    margin-top: 30px;
    padding-top: 1px;
    margin-bottom: 30px;
    clear: both;
    border: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    line-height: 42px;
    color: #333;
    cursor: pointer; /* 커서 모양 변경 */
  }



  .footer * {
    font-family: NanumBarunGothic,"나눔바른고딕","Nanum Barun Gothic",Sans-serif;
    box-sizing: border-box;

}

.footer {
    position: relative;
    background: #f6f6f6;
    padding-top: 50px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    color: #202020;
    min-width: 800px;
}

.footer_menu {
    clear: both;
    display: flex;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color:#f6f6f6;
}

.footer_menu_left {
flex: 1;
float: left;
}

.footer_menu_right {
flex: 9;
float: right;
}

.footer_menu_right ul {
list-style-type: none;
color: #828282;
margin: 0;
padding: 0;
}

.footer_menu_right ul li {
display: inline-block;
margin: 15px;
}

.footer_menu_right ul li a {
text-decoration: none;
color: #828282;
}

.item {
display: inline-block;
}

.footer_info_wrap {
    box-sizing: border-box;
    color: rgb(130, 130, 130);
    display: block;
    font-family: NanumBarunGothic,"나눔바른고딕","Nanum Barun Gothic",Sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 22px;
    position: relative;
}

.footer_info_inner {
    display: flex;
}

.footer_info_left {
    flex: 1;
    float: left;
}

.footer_info_right {
    flex: 9;
    float: right;
}

.footer_info_right ul {
    list-style-type: none;
    color: #828282;
    margin: 0;
    padding: 0;
}

