<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>  <!-- config 설정 시작 -->
   <typeAliases>
      <typeAlias type="user.bean.UserDTO" alias="user" />
      <typeAlias type="board.bean.FundingDTO" alias="funding" />
      <typeAlias type="board.bean.BoardDDTO" alias="boardD"/>
      <typeAlias type="board.bean.BoardFDTO" alias="boardF"/>
   </typeAliases>
   
</configuration>  <!-- config 설정 끝 -->